<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Team Builder</title>
    <link rel="stylesheet" href="style.css">
</head>
<body >
    <div id="app">
    <header>
        <h1>Pokemon Team Builder</h1>
    </header>

    <div class="container">
        <div class="sidebar sidebar-left"></div>
        <div class="inner-sidebar-left"></div>
        <div class="content">
            <p>Welcome to Pokemon Team Builder! Create and manage your ultimate Pokemon teams with ease.</p>
            <button class="create-team-btn" @click="togglePopup"  v-if="showCreateButton">Create New Team</button>
            <div class="popup-menu" id="popup-menu">
                
                <h2 id="center-text">Create New Team</h2>
            <div id="enterTeamName">
                <input type="text" v-model="teamName" placeholder="Enter team name" maxlength="30">
            </div>
                <div class="pokemon-slots">
                    <div class="pokemon-slot" id="slot-1" >
                        <img class="pokemon-sprite"  alt="" >
                        <p class="pokemon-name"></p>
                        <p class="pokemon-type"></p>
                        <span  class="delete-icon" @click="deletePokemon(0)">🗑️</span> 
                    </div>
                    <div class="pokemon-slot" id="slot-2">
                        <img class="pokemon-sprite" alt="">
                        <p class="pokemon-name"></p>
                        <p class="pokemon-type"></p>
                        <span class="delete-icon" @click="deletePokemon(1)">🗑️</span> 
                    </div>

                    <div class="pokemon-slot" id="slot-3">
                        <img class="pokemon-sprite" alt="">
                        <p class="pokemon-name"></p>
                        <p class="pokemon-type"></p>
                        <span class="delete-icon" @click="deletePokemon(2)">🗑️</span> 
                    </div>

                    <div class="pokemon-slot" id="slot-4">
                        <img class="pokemon-sprite" alt="">
                        <p class="pokemon-name"></p>
                        <p class="pokemon-type"></p>
                        <span class="delete-icon" @click="deletePokemon(3)">🗑️</span> 
                    </div>

                    <div class="pokemon-slot" id="slot-5">
                        <img class="pokemon-sprite" alt="">
                        <p class="pokemon-name"></p>
                        <p class="pokemon-type"></p>
                        <span  class="delete-icon" @click="deletePokemon(4)">🗑️</span> 
                    </div>

                    <div class="pokemon-slot" id="slot-6">
                        <img class="pokemon-sprite" alt="">
                        <p class="pokemon-name"></p>
                        <p class="pokemon-type"></p>
                        <span  class="delete-icon" @click="deletePokemon(5)">🗑️</span> 
                    </div>
                    
                </div>
                <div id="buttons">
                    <input type="text" id="search-field" placeholder="Search Pokemon">
                    <button @click="searchPokemon"  id="add-btn">Add</button>
                </div>
                <div id="buttons2">
                    <button @click="saveTeam" id="save-btn">Save Team</button>
                    <button @click="togglePopup"  id="cancel-btn">Cancel</button>
                </div>
                
            </div>
            

            <div id="team-container">
                <h2>My Teams</h2>
                <div v-for="(team, index) in teams" :key="index" class="team-row">
                    <p id="teamName">{{ team.teamName }}</p>
                    <div class="sprites">
                    <template v-for="(sprite, spriteIndex) in team.sprite">
                        <img :src="sprite" alt="Pokemon Sprite">
                        <span v-if="spriteIndex !== team.sprite.length - 1"> </span>
                    </template>
                    </div>
                <div class = "buttons">
                    <button @click="viewTeam(team._id)">View Team</button>
                    <button @click="deleteTeam(index)">Delete Team</button>
                </div>  
                </div>
            </div>
            <footer>
                &copy; 2024 Jax Gates
            </footer>

        </div>
        <div class="inner-sidebar-right"></div>
        <div class="sidebar sidebar-right"></div>
    </div>
</div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>
</body>
</html>